{
  "repositories": {},
  "mcpServers": {
    "personal": [
      "obsidian-mcp-tools",
      "Home Assistant - Taku",
      "jetbrains",
      "omnifocus",
      "google-sheets",
      "ssh-wingman"
    ]{{- if eq .chezmoi.username "cobrien" }},
    "work": [
      "incidentio",
       "Gitlab"
    ]{{- end }}
  }
}
