# Universal snippets (all file types)

snippet todo "TODO comment" i
TODO(${1:who}): ${2}
endsnippet

snippet fixme "FIXME comment" i
FIXME(${1:who}): ${2}
endsnippet

snippet date "current date" i
`date +%Y-%m-%d`
endsnippet
